.crossed {
  text-decoration: line-through 2px red;
  -webkit-text-decoration-line: line-through;
  -webkit-text-decoration-color: red;
  -webkit-text-decoration-thickness: 2px;
}

ul {
  list-style: none;
}

body {
  background-color: #f7c6d7;
}

.listContainer {
  display: flex;
  flex-flow: column;

  justify-content: center;


}

.listItem {
  display: flex;
  align-items: center;
  margin-right: 40px;

}

.mainContainer {
  display: flex;
  align-items: center;
  flex-direction: column;

}

.flower {
  padding: 5px
}

.listStyle {
  margin-top: 10vh;

}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}


input {
  padding: 15px;
  border: none;
  width: 270px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.btn {
  border: none;
  padding: 15px;
  width: 300px;
  color: rgb(255, 255, 255);
font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.btnOne {
  margin-top: 10px;
}

.btnTwo {
  margin-top: 20px;
}

.btnColorOne {
  background-color: rgb(170, 252, 197);
}

.btnColorTwo {
  background-color: rgb(255, 102, 184);
}